/* Intro */
body {
  /* background-color: #000066; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://cdn4.vectorstock.com/i/1000x1000/99/13/cartoon-fairy-tale-fir-forest-starry-blue-at-night-vector-19049913.jpg);
    /* background-image: url(https://i.imgur.com/2OT7vER.png); */
  /* background-image: url(https://cdn3.vectorstock.com/i/1000x1000/74/67/city-park-in-gradient-colors-vector-21317467.jpg); */
  /* filter: blur(8px); */
  background-position: top;
  background-size: 270%;
  font-size: 62.5%;
  text-decoration: none;
  text-align: center;
}

.introContent {
  font-family: overpass, helvetica, arial, sans-serif;
  font-weight: 650;
}

.title {
  font-size: 13.6em;
    letter-spacing: 5px;
  font-family: 'Oleo Script';
  padding-left: -10%;
  padding-right: 20%;
  margin-left: 17%;
  margin-top: 37%;
  /* padding-right: 10%; */
}

#logo {
  margin-top: 80%;
  margin-left: -15%;
  width: 150px;
  height: 150px;

}

.logoandtitle {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 8.6em;
  line-height: 140%;
  margin-right: 10%;
  margin-top: -50px;
  /* color: #6495ed; */
  /* color: yellow; */
  color: #1ceaec;
  color: #1ceaec;

  /* color: #7FDBFF */
;


  /* text-align: right; */
  font-family: 'Oleo Script';
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-left: 8%;
  /* text-align: center */
}

.links {
  /* background-color: rgba(255,255,255,.9); */
  font-size: 50px;
  line-height: 200px;
  text-decoration: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  /* margin-left: 7%; */
  /* text-align: center; */
  color: #dae1e7;

}

a:link {
  text-decoration: none;
  color: #dae1e7;

}

a:visited {
  color: #dae1e7;
  /* color: yellow; */
  /* color: black; */
}

  #joinButton {
  color: #01FF70;
  color: #dae1e7;
  color: #ffc30b;
  border-style: solid;
border-width: 15px;
padding: 25px;
margin-top: 20%;
font-weight: 950;
font-family: arial;
text-align: center;
font-size: 70px;
}

#outerouter {
  background: linear-gradient(90deg,
#ffc30b
 50%, transparent 50%), linear-gradient(90deg,
#ffc30b
 50%, transparent 50%), linear-gradient(0deg,
#ffc30b
 50%,
  transparent 50%), linear-gradient(0deg,
#ffc30b
 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 20px, 30px 20px, 20px 30px, 20px 30px;
  margin-left: 90px;
  margin-right: 90px;
  animation: border-dance 4s infinite linear;
  margin-bottom: -10px;
  height: 210px;
  margin-top: 5%;
}

@keyframes border-dance {
  100% {
    background-position: 0 96%, 30% 0%, 100% 80%, 0% 0%;
  }

  0% {
    background-position: 30% 96%, 0 0%, 100% 0%, 0% 80%;
  }


}



#credits {
  position: fixed;
  right: 5%;
  bottom: 2%;
  font-size: 35px;
}

.modal {
  transform: translate(-50%, -50%);
  position: fixed;
  background: #f3f3f3;
  width: 92%;
  height: 95%;
  top: 50%;
  left: 50%;
  color: black

;
}

#modalWaitlist {
  transform: translate(-50%, -10.5%);
  position: relative;
  background: #f3f3f3;
  width: 92%;
  /* height: 98%; */
  /* top: 60%; */
  left: 50%;
  color: black;
  margin-top: -130%;
  /* height: 120%; */
}

#btnWaitlist {
  z-index: 2;
  width: 18%;
  height: 9%;
  margin-left: 28%;
  margin-top: -31%;
  font-size: 45px;
  position: fixed;
  background-color: #12283a;
  color: #f1f5f8; */
}

#manifiesto {
  margin: 6%;
  margin-top: 10%;
  font-size: 420%;
  text-align: left;
  font-weight: 450;
  line-height: 120%;
  vertical-align: middle;
  margin-bottom: 20%

}

#poem {
  margin: 16%;
  font-size: 40px;
  text-align: left;
  /* font-family: overpass,helvetica,arial,sans-serif; */
  font-weight: 450;
  line-height: 100px;
}

#waitlist {
  /* margin: 16%; */
  padding: 10%;
  padding-top: 17%;
  font-size: 40px;
  text-align: left;
  /* font-family: overpass,helvetica,arial,sans-serif; */
  font-weight: 450;
  line-height: 50px;
}

#not-desktop {
  display: none;
  color: white;
  font-size: 400%;
}

#form {
  margin: 6%;
  font-size: 40px;
  text-align: left;
  /* font-family: overpass,helvetica,arial,sans-serif; */
  font-weight: 450;
  line-height: 50px;
}

.thankyou {
  font-size: 40px;
  text-align: left;
  font-weight: 450;
  font-size: 45px;
  line-height: 75px;
  padding: 15%;
  font-weight: 450;
  font-family: overpass, helvetica, arial, sans-serif;
}

.formInputs {
  font-size: 50px;
  width: 100%;
  height: 60%;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: #12283a;
  color: #f1f5f8;
}

.adsReference {
  font-style: italic;
}

.radioInputs {
  width: 50px;
  height: 50px;
}

#joinButton2 {
  width: 300px;
  height: 100px;
  font-size: 34px;
  margin-left: 60%;
  margin-top: 5%;
  background-color: #12283a;
  color: white;
  font-weight: bolder;
}

.btn {
  width: 20%;
  height: 10%;
  /* margin-bottom: 0px; */
  margin-left: 83%;
  margin-top: -3%;
  font-size: 45px;
  position: relative;
  background-color: #12283a;
  color: #f1f5f8;
}

#webMessage {
  color: #1ceaec;
  font-size: 80px;
}

#webgif {
  width: 30%;
  height: 30%;
}

#penilessMessage {
  color: purple;
}


#chainGif {
  width: 100%;
  height: 30%;
}

/*Neon*/

.glowingA{
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   transition: all 0.5s;
  margin: -25px 0 120px 0;
  letter-spacing: 3px;
}

.glowingA {
  -webkit-animation: neon1 4.5s ease-in-out infinite alternate;
  -moz-animation: neon1 4.5s ease-in-out infinite alternate;
  animation: neon1 4.5s ease-in-out infinite alternate;
}


/*glow for webkit*/

/* @-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
} */

/* @-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
} */
/*glow*/

@keyframes neon1 {
  from {
    /* text-shadow: 0 0 10px #fff, 0 0 20px #1ceaec, 0 0 30px #1ceaec, 0 0 40px #1ceaec, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; */
  }
  to {
    text-shadow: 0 0 17px grey, 0 0 17px grey, 0 0 12px black, 0 0 12px black, 0 0 12px black, 0 0 12px black, 0 0 12px black, 0 0 8px black;
  }
}

.rotate {

/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);

float: left;

}


.title {
	letter-spacing: 2px;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, yellow, lime);
  background-image: -webkit-linear-gradient(92deg, yellow, fuchsia, pink);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}


::placeholder {
  color: #969696  ;
}

/* radio buttons */
.radioLabels {
  line-height: 80px;
}
